<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h2>Product data entry</h2>
    <a href="/products">Go to product list</a>
    <form action="/products" method="post">
        <label for="title">Title</label>
        <input name="title" />
        <label for="price">Price</label>
        <input name="price" type="number" />
        <label for="img">Image URL</label>
        <input name="img" />
        <button type="submit">Add product</button>
    </form>
    <% if (products.length == 0) { %>
        No products added
    <% } else { %>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th style="width:300px;">Image</th>
                </tr>
            </thead>
            <tbody>
                <% products.data.forEach(prod => { %>
                    <tr>
                        <td><%= prod.title %></td>
                        <td>$<%= prod.price %> USD</td>
                        <td style="text-align:center;"><img src=<%= prod.img %> style="width:150px;" alt="product" /></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
</body>
</html>