<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products list</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<h2 class="font-bold text-2xl text-center mt-4">Products list</h2>
<% if (products.data.length == 0) { %>
    No products added
<% } else { %>
    <div class="flex flex-wrap mx-4 my-4 bg-gray-500 text-white text-center">
        <% products.data.forEach(prod => { %>
            <div class="mx-4 my-4">
                <ul>
                    <li><img src=<%= prod.img %> style="width:150px;" alt="product" /></li>
                    <li class="title"><%= prod.title %></li>
                    <li class="price">$<%= prod.price %> USD</li>
                    <li class="details underline"><a href=<%= `/api/products/${prod.id}` %>>See details</a></li>
                </ul>
            </div>
        <% }) %>
    </div>
<% } %>