<% if (products.length == 0) { %>
    No products added
<% } else { %>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th style="width:300px;">Image</th>
            </tr>
        </thead>
        <tbody>
            <% products.data.forEach(prod => { %>
                <tr>
                    <td><%= prod.title %></td>
                    <td><%= prod.price %></td>
                    <td style="text-align:center;"><img src=<%= prod.img %> style="width:150px;" alt="product" /></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/">Back to product entry</a>
<% } %>