body {
    font-family: sans-serif;
}

.errorAuth {
    background-color: rgb(179, 12, 12);
    color: white;
    text-align: center;
}

.errorAuth h2 {
    color: white;
}

.productsListContainer {
    background-color: bisque;
    display: flex;
    height: auto;
    padding: 30px 60px;
    margin: 30px 0;
    flex-wrap: wrap;
}

.prodContent img {
    text-align: center;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.dFlexCol {
    display: flex;
    flex-direction: column;
}

.productDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.productButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productButtons button {
    margin: 5px;
    padding: 5px;
    border-radius: .25rem;
    font-weight: bold;
}

.buttonAdd {
    background-color: green;
}

.buttonDanger {
    background-color: red;
}

.formProducts {
    margin: 0 auto;
    text-align: center;
}

.formProducts label {
    margin: 5px 0px;
}

.formProducts input {
    margin: 5px;
}

.content {
    text-align: center;
}

.dflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
}

.minW {
    width: min-content;
}

.cartText {
    width: max-content;
}

.pDetails {
    list-style: none;
}

.logoutButton {
    color: white;
    background-color: red;
    padding: 10px 20px;
    border-radius: .25rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 0 auto;
}

.logImg {
    width: 25px;
    margin-left: 10px;
}

.productCard {
    background-color: aliceblue;
    width: fit-content;
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 15px 20px;
}

.productCard ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
}

.center {
    text-align: center;
}

.mCenter {
    margin: 15px auto;
}

#addProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 5px 20px;
}

#addProduct label {
    margin: 15px 10px 15px 20px;
    font-weight: bold;
}

.addProd {
    margin-left: 10px;
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.linkPage a {
    background-color: #049404;
    padding: 10px;
    color: white;
    font-size: 1.2rem;
}

.messagesContainer {
    width: 70%;
    margin: 0 auto 200px auto;
}

#messages {
    width: 50%;
    border: 2px solid black;
    border-radius: .7rem;
    margin: 0 auto;
    padding: 60px 0;
    overflow-y: auto;
    max-height: 200px;
}

.messageStyle {
    margin: 15px auto;
    width: 60%;
    color: white;
    height: auto;
    background-color: rgb(61, 57, 73);
    padding: 15px;
    border-radius: .7rem;
}

.messageStyle strong {
    font-size: 1.2rem;
}

#msgForm {
    text-align: center;
    margin-top: 15px;
}

#msgForm input {
    height: 35px;
    width: 300px;
    font-size: 1.2rem;
    padding: 5px;
    border: 2px solid grey;
}

#sendMsg {
    width: 100px !important;
    height: 40px !important;
    cursor: pointer;
    margin: 20px auto;
    border: none;
    background-color: #03A303;
    border-radius: .6rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

#sendMsg:active {
    background-color: #049404;
    border: 1px solid black;
}

.hourStyle {
    color: rgb(209, 205, 205);
    font-style: italic;
    font-size: .9rem;
}

.imgAvatar {
    width: 50px;
    height: 50px;
    border-radius: .6rem;
}

h2 {
    text-align: center;
    font-size: 2rem !important;
    color: blue;
}

.cartButtonDel {
    margin: 5px;
    padding: 5px;
    border-radius: .25rem;
    font-weight: bold;
    background-color: red;
    border: none;
    cursor: pointer;
    color: white;
}

.cartButtonDelAll {
    margin: 5px;
    padding: 5px;
    border-radius: .25rem;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: red;
    border: none;
    cursor: pointer;
    color: white;
}

@media (max-width: 600px) {
    .messagesContainer {
        width: 90%;
    }

    #messages {
        width: 80%;
    }

    #msgForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #msgForm input {
        margin: 15px 0;
        width: 95%;
    }
}